<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Join the club</title>
		<link rel="stylesheet" href="/style.css" />
	</head>
	<body>
		<nav>
			<div class="logo">
				<p>
					<a href="<%= `${mainPath}`%>"
						>Posting Club</a
					>
				</p>
			</div>
			<ul>
				<li class="link">
					<a href="<%= `${mainPath}users/log-out`%>"
						>Log out</a
					>
				</li>
			</ul>
		</nav>
		<aside>
			<ul>
				<li>
					<a href="<%= `${mainPath}posts/create`%>"
						>Post a message</a
					>
				</li>
				<li><a href="">About</a></li>
			</ul>
		</aside>
		<main>
			<header>
				<h1>Become a member</h1>
			</header>
			<form class="member-form" method="post">
				<div class="type-text">
					<label for="member"
						>Enter secret key to join the club</label
					>
					<input
						type="text"
						name="member"
						placeholder="welcome123"
					/>
				</div>
				<button type="submit">Join club now</button>
			</form>
			<% if (errors) { %>
			<ul>
				<%errors.forEach(function(error){%>
				<li><%=error.msg%></li>
				<%});%>
			</ul>
			<% } %>
		</main>
		<footer>
			<p>&copy</p>
			<p>
				<a href="https://github.com/JosueDeLosSantos"
					>Josue De Los Santos</a
				>
				2024
			</p>
		</footer>
	</body>
</html>
