:root {
	--main: #a0e1ee;
	--main2: #eeada0;
	--analogous: #a0eed4;
	--analogous2: #a0baee;
	--triadic: #ada0ee;
	--triadic2: #eea0e1;
	--option: #00677b;
	--option-visited: #004650;
	--error: #b23928;
}

* {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	position: relative;
}

input {
	text-align: center;
	font-style: italic;
}

input:hover,
input:active,
input:focus,
input:focus-visible {
	outline: none;
}

a {
	text-decoration: none;
}

a:visited {
	color: var(--option-visited);
}

.delete-link {
	color: white;
}

li {
	list-style-type: none;
}

nav,
nav > ul {
	display: flex;
}

nav {
	z-index: 2;
	position: sticky;
	top: 0;
	right: 0;
	padding: 1rem 0.8rem 0.3rem 0.5rem;
	margin-bottom: 1rem;
	background-color: var(--main);
	justify-content: space-between;
}

nav > ul {
	width: fit-content;
	padding-right: 1rem;
}

nav > ul > li {
	margin-right: 0.5rem;
}

nav > ul > li.link {
	font-weight: bold;
}

nav > ul > li:last-child {
	color: var(--option);
}

.logo {
	font-weight: bolder;
	color: black;
}

aside {
	float: left;
	width: 15%;
	color: var(--option);
	margin-left: 0.8rem;
	margin-top: 2rem;
}

aside > ul {
	display: flex;
	flex-direction: column;
}

header {
	text-align: center;
	padding: 2rem 2rem 4rem 2rem;
}

aside > ul > li {
	padding-top: 1rem;
}

main {
	min-height: 90vh;
	padding-left: 12rem;
}

.login-form-main {
	padding-left: 0;
}

.member-form {
	width: 40%;
	padding: 1rem;
	background-color: var(--main);
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	border-radius: 1.5%;
}

.login-form {
	margin-left: auto;
	margin-right: auto;
}

.login-form > div {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2rem;
}

.login-form > div > label {
	margin-bottom: 0.9rem;
	color: var(--option);
	font-weight: bold;
}

.login-form > div > input {
	border: none;
	box-shadow: 0px 1px 0px;
	width: 30%;
	padding-bottom: 0.3rem;
}

.login-form > div > input::placeholder {
	text-align: center;
}

.member-form > div > input,
textarea {
	margin-top: 1rem;
	padding: 0.2rem;
}

.member-form > div > label {
	font-weight: bold;
}

.member-form > button {
	background-color: var(--option);
	margin-top: 1rem;
	width: fit-content;
}

.type-text {
	display: flex;
	flex-direction: column;
}

/* posts */

.post {
	padding-bottom: 1rem;
}

.post-detail {
	display: flex;
}

.post-detail > p {
	margin-right: 5px;
	color: rgb(128, 128, 128, 0.9);
	font-size: 0.8rem;
}

.post-body {
	max-width: 50%;
	margin-bottom: 0.5rem;
}

.post-body > h3 {
	margin-bottom: 0.5rem;
}

.post-options {
	margin-top: 0.5rem;
}

.delete-btn,
.become-member-btn,
.log-in-btn,
.sign-up-btn {
	font-size: 11px;
	color: white;
	background-color: var(--option);
	padding: 0.2rem 0.5rem;
	border: none;
	border-radius: 5px;
}

.become-member-btn,
.log-in-btn {
	font-size: 13px;
}

.sign-up-btn {
	font-size: 1rem;
}

.boldName {
	font-weight: bold;
}

/* post creation */

.create-post-main {
	min-height: 75vh;
}

.post-create {
	width: 80%;
}

.post-create > input,
.post-create > textarea {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.post-create-label {
	margin-top: 1rem;
}
textarea:focus,
textarea:focus-visible {
	outline: none;
}

.error-msg {
	color: var(--error);
}

footer {
	z-index: 2;
	position: sticky;
	bottom: 0;
	right: -20;
	display: flex;
	justify-content: center;
	padding: 1rem 0 1rem 0;
	background-color: var(--main);
}
